export TF_VAR_subscription_id=
export TF_VAR_gh_repo=
export TF_VAR_location=
export TF_VAR_COPILOTSTUDIOAGENT__ENVIRONMENTID=
export TF_VAR_COPILOTSTUDIOAGENT__SCHEMANAME=
export TF_VAR_COPILOTSTUDIOAGENT__AGENTAPPID=
export TF_VAR_COPILOTSTUDIOAGENT__CLIENTSECRET=